<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
	<h1>404</h1>
	<h2>The page you requested was not found.</h2>
	<!-- <button class="btn btn-primary btn-lg mt-3">Back to safety</button> -->
	<a href="/" class="btn btn-primary btn-lg mt-3" role="button">Back to safety</a>
</div>
