<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor02">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item">
					<a class="nav-link" href="/dashboard"
						>Dashboard
						<span class="visually-hidden">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="./dashboard/session">Session</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Attendance log</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="users/statistics">Statistics</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="users/about">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/users/logout">Logout</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div class="jumbotron jumbotron-fluid text-center bg-light">
	<h1 class="text-primary">Dashboard</h1>
	<h4 class="text-primary" style="display: inline-block">Welcome <%= name %></h4>
</div>

<div class="container-flex">
	<div class="row justify-content-center m-5">
		<div class="col-md-4">
			<div class="card card-body hover-card text-center">
				<h1>
					<img src="/icons/Statistics.png" height="150" width="150" />
				</h1>
				<h5 class="pt-4 text-primary">Current attendance statistics</h5>
				<div class="d-grid gap-2 d-md-block">
					<a href="/users/register" class="btn btn-primary btn-lg btn-block mt-5 text-success">continue to Statistics</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card card-body hover-card text-center">
				<h1>
					<img src="/icons/log.png" height="150" width="150" />
				</h1>
				<h5 class="pt-4 text-primary">Attendance log of previous sessions</h5>
				<div class="d-grid gap-2 d-md-block">
					<a href="/users/register" class="btn btn-primary btn-lg btn-block mt-5 text-success">continue to attendance log</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card card-body hover-card text-center">
				<h1>
					<img src="/icons/play-button.png" height="150" width="150" />
				</h1>
				<h5 class="pt-4 text-primary">Start new session</h5>
				<div class="d-grid gap-2 d-md-block">
					<a href="/users/register" class="btn btn-primary btn-lg btn-block mt-5 text-success">continue to start new session</a>
				</div>
			</div>
		</div>

		<!-- <footer class="ext-center text-lg-start position-fixed fixed-bottom bg-light">
			<div class="text-center p-4">
				© 2021 Copyright: Shmuel Fainberg |
				<a class="text-success" href="https://github.com/samuelFain">github</a>
			</div>
		</footer> -->
	</div>
</div>
