<div class="top-padding"></div>
<div class="row mt-5">
	<div class="col-md-4 m-auto">
		<div class="card card-body">
			<h1 class="text-center mb-3"><i class="fas fa-video"></i> webcam demo</h1>
			<div class="d-flex justify-content-center">
				<video id="video" width="640" height="560" autoplay></video>
			</div>
			<div style="overflow: hidden">
				<p class="lead mt-4" style="float: left">Have An Account? <a href="/users/login">Login</a></p>
				<p class="lead mt-4" style="float: right"><a href="/">Back to Homepage</a></p>
			</div>
		</div>
	</div>
</div>

<script src="/demo.js"></script>
