<div class="jumbotron jumbotron-fluid text-center bg-light">
	<br>
	<h1 class="text-primary">Welcome to smart<small class="text-muted" id="Welcome-page-muted">Attendance</small></h1>
	<br>
	<h3 class="text-primary"><em>Attendance management simplified with the power of AI</em></h3>
	<br>
</div>
<div class="top-padding"></div>
<div class="row mt-5 mb-5">
	<div class="col-md-8 m-auto">
		<div class="card card-body">
			<div class="spinner-grow text-success" role="status"></div>
			<h1 class="text-center mb-3">webcam demo</h1>
			
				<div class="d-flex justify-content-center">
					<video id="video" width="640" height="560" autoplay></video>
				</div>
				<div style="overflow: hidden">
					<p class="lead mt-4" style="float: left">Have An Account? <a href="/users/login">Login</a></p>
					<p class="lead mt-4" style="float: right"><a href="/">Back to Homepage</a></p>
				</div>
			</div>
		</div>
	</div>

	<script src="/demo.js"></script>
</div>
