<div class="jumbotron jumbotron-fluid text-center bg-light">
	<h1 class="text-primary">Welcome to smart<small class="text-muted" id="Welcome-page-muted">Attendance</small></h1>
	<br />
	<h3 class="text-primary"><em>Attendance management simplified with the power of AI</em></h3>
</div>
<div class="top-padding"></div>
<div class="row">
	<div class="col-md-8 m-auto">
		<div class="card card-body">
			<h1 class="text-center mb-3">webcam <img src="/icons/webcam.png" height="50" width="50" /> demo</h1>
			<div class="d-flex justify-content-center">
				<video id="video" width="640" height="560" autoplay></video>
			</div>
			<div style="overflow: hidden">
				<p class="lead mt-4" style="float: left">Have An Account? <a href="/users/login">Login</a></p>
				<p class="lead mt-4" style="float: right"><a href="/">Back to Homepage</a></p>
			</div>
		</div>
	</div>
</div>

<script src="/demo.js"></script>
