<div id="faceVideoInput" class="">
	<video id="videoInput" width="720" height="550" autoplay controls></video>
</div>

<script defer src="/face-api.min.js"></script>
<script defer src="/face-script.js"></script>
