<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor02">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item">
					<a class="nav-link" href="/dashboard">Dashboard</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="./session">Session <i class="fas fa-map-pin"></i></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Attendance log</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="./statistics">Statistics</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="./about">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/users/logout">Logout</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div class="jumbotron jumbotron-fluid text-center bg-light">
	<h1 class="text-primary">Session</h1>
</div>

<div class="top-padding"></div>
<div class="row justify-content-center">
	<div class="col-md-8 m-auto">
		<div class="card card-body">
			<div class="row justify-content-center">
				<div class="col-md-6">
					<div class="d-flex justify-content-center">
						<div id="faceVideoInput" class="">
							<video id="videoInput" width="720" height="550"></video>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="toast-container">
						<div class="toast" id="loading_toast" role="alert" aria-live="assertive" aria-atomic="true">
							<div class="toast-header">
								<strong class="mr-auto">Update</strong>
								<button type="button" class="ml-2 mb-1 close" data-bs-dismiss="toast" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="toast-body">Loading Profiles...</div>
						</div>
						<div class="toast" id="facesLoaded_toast" role="alert" aria-live="assertive" aria-atomic="true">
							<div class="toast-header">
								<strong class="mr-auto">Update</strong>
								<button type="button" class="ml-2 mb-1 close" data-bs-dismiss="toast" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="toast-body">All profiles has been loaded, ready to start</div>
						</div>
						<div class="toast" id="successfully_detected_toast" role="alert" aria-live="assertive" aria-atomic="true">
							<div class="toast-header">
								<strong class="mr-auto">Face Detected!</strong>
								<button type="button" class="ml-2 mb-1 close" data-bs-dismiss="toast" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="toast-body"></div>
						</div>
					</div>
				</div>
			</div>
			<div style="overflow: hidden">
				<p class="lead mt-4" style="float: left">Have An Account? <a href="/users/login">Login</a></p>
				<p class="lead mt-4" style="float: right"><a href="/">Back to Homepage</a></p>
			</div>
		</div>
	</div>
</div>

<!-- <script>    DELETE LATER
	var option = {
		animation: true,
		delay: 10000,
	};

	var toastElList = [].slice.call(document.querySelectorAll('.toast'));
	var toastList = toastElList.map(function (toastEl) {
		return new bootstrap.Toast(toastEl, option);
	});

	function run_toast(toast_id) {
		toastList.forEach((element) => {
			if (element._element.id == toast_id) {
				element.show();
			}
		});
	}

	run_toast('loading_toast');
</script> -->

<script defer src="/face-api.min.js"></script>
<script defer src="/face-script.js"></script>
