<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor02">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item">
					<a class="nav-link" href="/dashboard">Dashboard</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" role="button" href="#start-new-session-modal" data-bs-toggle="modal">Session <i class="fas fa-map-pin"></i></a></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/dashboard/participants">Manage participants</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="./attendance_log">Attendance log</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="./statistics">Statistics</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="./about">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/users/logout">Logout</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div class="jumbotron jumbotron-fluid text-center bg-light">
	<h1 class="text-primary">Live Session</h1>
	<div class="spinner-grow text-success" role="status">
		<!-- <span class="visually-hidden">Live session</span> -->
	  </div>
</div>

<div class="top-padding"></div>
<div class="row justify-content-center">
	<div class="col-md-6 d-flex justify-content-center">
		<div class="card card-body">
			<div class="row justify-content-center">
				<div class="col">
					<div id="faceVideoInput" class="d-flex justify-content-center">
						<video id="videoInput" width="920" height="550"></video>
					</div>
				</div>
			</div>
			<div class="mt-5" style="overflow: hidden">
				<!-- <p class="lead mt-4" style="float: left">Have An Account? <a href="/users/login">Login</a></p> -->
				<form id='submit-session' action="/dashboard/session/create" method="POST">
					<button type='submit' class="btn btn-success btn-lg" id="btn-finish-session">Finish session</button>
					<a type="button" href="/dashboard" class="btn btn-warning btn-lg" style="float: right">Cancel session</a>
				</form>
				
			</div>
		</div>
	</div>
		<div class="col-md-2 d-flex justify-content-start">
					<div class="toast-container">
						<div class="toast" id="loading_toast" role="alert" aria-live="assertive" aria-atomic="true">
							<div class="toast-header">
								<strong class="me-auto">Update</strong>
								<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
							</div>
							<div class="toast-body">Loading Profiles...</div>
						</div>
						<div class="toast" id="facesLoaded_toast" role="alert" aria-live="assertive" aria-atomic="true">
							<div class="toast-header">
								<strong class="me-auto">Update</strong>
								<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
							</div>
							<div class="toast-body">All profiles has been loaded, ready to start</div>
						</div>
						<div class="toast" id="successfully_detected_toast" role="alert" aria-live="assertive" aria-atomic="true">
							<div class="toast-header">
								<strong class="me-auto">Face Detected!</strong>
								<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
							</div>
							<div class="toast-body"></div>
						</div>
					</div>
		</div>

</div>

<!-- start new session modal -->
<div class="modal fade" id="start-new-session-modal" tabindex="-1" aria-labelledby="start-new-session-modal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="exampleModalLabel">Heads up</h4>
			</div>
			<div class="modal-body"><h5>You are currently running a live session</h5></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary btn-lg" data-bs-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>

<script defer src="/face-api.min.js"></script>
<script defer src="/face-script.js"></script>
