<div class="jumbotron jumbotron-fluid text-center bg-light">
	<br>
	<h1 class="text-primary">Welcome to smart<small class="text-muted" id="Welcome-page-muted">Attendance</small></h1>
	<h3 class="text-primary"><em>Attendance management simplified with the power of AI</em></h3>
	<br>
</div>

<div class="container-flex mt-5">
	<div class="row justify-content-center ">
		<div class="col-md-3 mx-2">
			<div class="card card-body hover-card text-center h-100 ">
				<h1>
					<img src="/icons/id-card.png" height="100" width="100"> 
				</h1>
				<h4 class="pt-4 text-primary">Create an account or login</h4>
				<div class="d-grid gap-2 col-8 mx-auto">
					<a href="/users/register" class="btn btn-primary btn-lg btn-block mb-2 mt-5 text-success">Register</a>
					<a href="/users/login" class="btn btn-secondary btn-lg btn-block text-primary">Login</a>
				</div>
			</div>
		</div>
		<div class="col-md-3 mx-2">
			<div class="card card-body hover-card text-center h-100">  
				<img src="/icons/webcam_demo.png" height="100" width="100">
				<row><br><br></row>
				<h4 class="mt-4 text-primary">This web application need to access your webcam.</h4>
					<h4>If you want to check that it works, click <a href="/demo">here</a></4>
			</div>
		</div>
	</div>
		<div class="row justify-content-center">
			<div class="col-md-3 py-5 mx-2">
				<div class="card hover-card text-white h-100">
					<div class="card-body">
						<iframe
							style="background: #ffff; border: none; "
							width="250"
							height="300"
							src="https://charts.mongodb.com/charts-project-0-qqavs/embed/charts?id=c6b99e30-53ae-4358-a987-abb42a25dc4b&autoRefresh=60&theme=light"
						></iframe>
					</div>
				</div>
			</div>
			<div class="col-md-3 py-5 mx-2">
				<div class="card hover-card text-white bg-primary h-100">
					<div class="card-body">
						<h2 class="welcome-card text-success">Who are we?</h2>
						<h5 class="card-text welcome-card text-success">smartAttendance is a multipurpose attendance checking web-app, based on real-time face recognition technology.</h5>
						<h5 class="card-text welcome-card text-success">All you need is a computer with a webcam and internet access!</h5>
						<br />
						<div class="text-center"><img src="/icons/bubble.png" height="75" width="75"> </div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<br><br><br>
	<footer class="ext-center text-lg-start position-fixed fixed-bottom bg-light">
		<!-- Copyright -->
		<div class="text-center p-4">
			© 2021 Copyright: Shmuel Fainberg |
			<a class="text-success" href="https://github.com/samuelFain">github</a>
		</div>
		<!-- Copyright -->
	</footer>
</div>
