/*-------------- Layout Page --------------*/

html,
body {
	margin: 0px;
	height: 100%;
	font-family: 'Poppins', sans-serif;
}

body {
	background-image: url('/icons/background.png') !important;
	background-repeat: no-repeat;
	background-position: bottom;
	background-attachment: fixed;
	background-size: 100% 30%;
}
/*-------------- Welcome Page --------------*/

#Welcome-page-muted {
	color: #18bc9c !important;
}

/*-------------- Position --------------*/
.top-padding {
	margin-top: 0.5%;
	margin-bottom: 0.5%;
}

/*-------------- Assets --------------*/

canvas {
	position: absolute;
	top: 0;
	left: 0;
}

#faceVideoInput {
	position: relative;
	width: 100%;
	height: 100%;
	/* justify-content: center; */
}

/*-------------- Bootstrap Components --------------*/

.hover-card {
	align-items: center;
	transition-duration: 0.3s;
	transition-property: transform;
}

.hover-card:hover {
	transform: scale(1.1);
}

.navbar-nav.navbar-center {
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
}

.table-hover tbody tr:hover td {
	background-color: #18bc9c;
}



/* Manage Participants page */
#remove-participant-action:hover,
#remove-participant-action:focus {
	background-color: #e74c3c !important;
}

